<h1>Zaujímavé fakty o učení</h1>

<p>Vzdelávanie v Írskej republike je trojstupňové: základné, stredné a vyššie.
Tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretia tretina (vzdelanie tretej úrovne). Na konci univerzity je absolventovi udelený bakalársky titul. Vysokoškolské vzdelávanie je možné na štátnych univerzitách, na rôznych vysokých školách a ústavoch.</p>
<table border="1" cellpadding="0" cellspacing="0" dir="ltr" style="border-collapse: collapse; border: none; font-family: arial, sans, sans-serif; font-size: 10pt; table-layout: fixed; width: 0px;" xmlns="http://www.w3.org/1999/xhtml"><colgroup><col width="916"></col></colgroup><tbody>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/1.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/1.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/1.pdf" target="_blank">https://pdfs.netlify.com/1.pdf</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/2.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/2.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/2.pdf" target="_blank">https://pdfs.netlify.com/2.pdf</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/3.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/3.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/3.pdf" target="_blank">https://pdfs.netlify.com/3.pdf</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/4.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/4.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/4.pdf" target="_blank">https://pdfs.netlify.com/4.pdf</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/5.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/5.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/5.pdf" target="_blank">https://pdfs.netlify.com/5.pdf</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://pdfs.netlify.com/6.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://pdfs.netlify.com/6.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://pdfs.netlify.com/6.pdf" target="_blank">https://pdfs.netlify.com/6.pdf</a></td></tr>
</tbody></table>

<p>Univerzity v Írsku sú väčšinou výskumné a výskumné centrá. Školy v Írsku a na vysokej škole sú školené v špeciálnom programe. Diplomy po absolvovaní programov v takýchto vzdelávacích inštitúciách
Vzdelávacia inštitúcia je uznávaná ako vysoká škola, založená v roku 1591.</p>
<table border="1" cellpadding="0" cellspacing="0" dir="ltr" style="border-collapse: collapse; border: none; font-family: arial, sans, sans-serif; font-size: 10pt; table-layout: fixed; width: 0px;" xmlns="http://www.w3.org/1999/xhtml"><colgroup><col width="916"></col></colgroup><tbody>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://alpha.iodide.io/notebooks/4245/?viewMode=report" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://alpha.iodide.io/notebooks/4245/?viewMode=report&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://alpha.iodide.io/notebooks/4245/?viewMode=report" target="_blank">https://alpha.iodide.io/notebooks/4245/?viewMode=report</a></td></tr>
<tr style="height: 21px;"><td data-sheets-hyperlink="https://www.ilgiornaledelcibo.it/wp-content/uploads/2020/03/teacher-2.pdf" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;https://www.ilgiornaledelcibo.it/wp-content/uploads/2020/03/teacher-2.pdf&quot;}" style="border: 1px solid rgb(204, 204, 204); color: #1155cc; overflow: hidden; padding: 2px 3px; text-decoration-line: underline; vertical-align: bottom;"><a class="in-cell-link" href="https://www.ilgiornaledelcibo.it/wp-content/uploads/2020/03/teacher-2.pdf" target="_blank">https://www.ilgiornaledelcibo.it/wp-content/uploads/2020/03/teacher-2.pdf</a></td></tr>
</tbody></table>